<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="OCT-MCD-Management">
        <wb-resource deploy-path="/" source-path="/ejbModule"/>
        <dependent-module archiveName="OCT-MCD-ITMASS-STUBS.jar" deploy-path="/" handle="module:/resource/OCT-MCD-ITMASS-STUBS/OCT-MCD-ITMASS-STUBS">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="OCT-MCD-Management-Stubs.jar" deploy-path="/" handle="module:/resource/OCT-MCD-Management-Stubs/OCT-MCD-Management-Stubs">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jtds-1.3.0.jar" deploy-path="/" handle="module:/classpath/lib/OCT-MCD-Management/lib/jtds-1.3.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="OCT-MCD-Remedy-Stubs.jar" deploy-path="/" handle="module:/resource/OCT-MCD-Remedy-Stubs/OCT-MCD-Remedy-Stubs">
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
